
.admin-dashboard-container {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
  }
  
  h1 {
    margin: 0;
  }
  
  .dashboard-stats {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .stat-box {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .stat-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stat-box p {
    font-size: 18px;
    margin: 0;
  }
  
  .sentiment-analysis {
    margin-top: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sentiment-analysis h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .sentiment-analysis ul {
    list-style: none;
    padding: 0;
  }
  
  .sentiment-analysis li {
    margin: 10px 0;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .sentiment-analysis strong {
    font-weight: bold;
    font-size: 18px;
  }
  
  .sentiment-analysis p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .function-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
.product-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.product-select option {
  font-size: 16px;
}

.product-select:focus {
  border: 2px solid #007BFF; 
}

  
  @media (max-width: 768px) {
    .dashboard-stats {
      flex-direction: column;
    }
  
    .stat-box {
      margin: 10px 0;
    }
  
    .function-buttons {
      flex-direction: column;
    }
  
    .function-buttons a {
      margin: 5px 0;
    }
  }
  