
.product-management-container{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

  .product-management-container h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
  }
  
  /* Section Styles */
  .product-management-container section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .product-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-list li {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .product-list li:hover {
    transform: translateY(-5px);
  }

  .product-list li button {
    margin-top: 10px; /* Add spacing above the button */
  }
  
  .add-product-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
  }
  
  .add-product-form input[type="text"],
  .add-product-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .add-product-form button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .add-product-form button:hover {
    background-color: #0056b3;
  }
  .add-product-form input[type="file"] {
    display: none; /* Hide the default file input */
  }
  
  .file-input-wrapper {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .file-input-label {
    flex-grow: 1;
    padding: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .file-input-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .file-input-button:hover {
    background-color: #0056b3;
  }

  .attribute-section {
    display: flex;
    flex-direction: row; 
  }

  
  
  /* Message Styles */
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
  }
  

  .add-product-form input[type="number"], /* Style for quantity input field */
.add-product-form input[type="text"],
.add-product-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}