
.product-management-container{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    min-height: 100vh;
    position: relative;
}

  .product-management-container h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
  }
  
  /* Section Styles */
  .product-management-container section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }

  
  .add-product-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
  }
  
  .add-product-form input[type="text"],
  .add-product-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .add-product-form button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .add-product-form button:hover {
    background-color: #0056b3;
  }
  .add-product-form input[type="file"] {
    display: none; /* Hide the default file input */
  }
  
  .file-input-wrapper {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .file-input-label {
    flex-grow: 1;
    padding: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .file-input-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .file-input-button:hover {
    background-color: #0056b3;
  }

  .attribute-section {
    display: flex;
    flex-direction: row; 
  }

  
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
  }
  

  .add-product-form input[type="number"], 
.add-product-form input[type="text"],
.add-product-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-list {
  margin: 20px 0;
  text-align: center;
}

.product-list h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.product-list-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-tile {
  margin: 20px;
  padding: 20px;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 0 1 calc(33.33% - 20px);
  transition: transform 0.2s ease-in-out;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-tile strong {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  display: block;
}

.product-tile p {
  color: #555;
}

.product-tile button {
  background: #0074cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  display: inline-block;
  transition: background 0.3s ease;
}

.product-tile button:hover {
  background: #0056b3;
}
