
.cart-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    min-height: 70vh;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .cart-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
  }
  
  .item-details {
    flex-grow: 1;
    text-align: left;
  }
  
  .item-details h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .total-price {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .remove-button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .remove-button:hover {
    background-color: #ff0000;
  }
  
  .checkout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .checkout-button:hover {
    background-color: #0056b3;
  }
  