@import url(https://fonts.googleapis.com/css?family=Montserrat);

.content-container {
  font-family: 'Roboto', sans-serif;
    color: #333333;
    padding: 20px;
    flex-grow: 1; 
  }
  .wrapper {
    min-height: 100vh;
    position: relative;
  }

.main-header {
  background-color: #FFA500;
  color: #FFFFFF;
  padding: 20px; 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
  
  .main-header h1 {
    font-size: 36px; 
    margin: 0; 
  }
  
  .main-header p {
    font-size: 18px; 
    margin-top: 10px; 
  }
 
.carousel-container {
  
  max-width: 800px; 
  margin: 0 auto; 
  overflow: hidden; 
}

.carousel img {
  max-width: 100%;
  height: 100%; 
  object-fit: contain; 
  border-radius: 8px; 
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
}

.carousel .legend {
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff; 
  padding: 8px 16px; 
  border-radius: 0 0 8px 8px; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
}


.category-bar {
  background-color: #f0f0f0; 
  padding: 10px; 
  text-align: center; 
}

.category-button {
  background-color: #FFD700;
  border: none; 
  padding: 8px 16px; 
  margin: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}


.category-button.active {
  background-color: lightgray; 
  color: #fff; 
}


.category-button:hover {
  background-color: #ccc;
}

.button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}



.loading-container {
  text-align: center;
  padding: 20px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}