@import url(https://fonts.googleapis.com/css?family=Montserrat);

.content-container {
  font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
    color: #333333;
    padding: 20px;
    flex-grow: 1; 
  }
  .wrapper {
    min-height: 100vh;
    position: relative;
  }

.main-header {
  background-color: #FFA500;
  color: #FFFFFF;
  padding: 20px; 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
  
  /* Style for the header title */
  .main-header h1 {
    font-size: 36px; 
    margin: 0; 
  }
  
  /* Style for the subheading */
  .main-header p {
    font-size: 18px; 
    margin-top: 10px; 
  }
 
/* Carousel container */
.carousel-container {
  
  max-width: 800px; 
  margin: 0 auto; 
  overflow: hidden; 
}

/* Carousel images */
.carousel img {
  max-width: 100%;
  height: 100%; 
  object-fit: contain; 
  border-radius: 8px; 
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
}

/* Carousel legend (captions) */
.carousel .legend {
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff; 
  padding: 8px 16px; 
  border-radius: 0 0 8px 8px; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
}



/*  category navigation bar */
.category-bar {
  background-color: #f0f0f0; 
  padding: 10px; 
  text-align: center; 
}

/* Category buttons */
.category-button {
  background-color: #FFD700;
  border: none; 
  padding: 8px 16px; 
  margin: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}


.category-button.active {
  background-color: lightgray; 
  color: #fff; 
}


.category-button:hover {
  background-color: #ccc;
}

.button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}



