
.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #87CEEB;
  color: #FFFFFF;
  opacity: 0.8;
  height: 70px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0 20px;
}

li:hover {
  background-color: black;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  padding-left: 20px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .navbar {
    height: auto; /* Change height to auto for mobile screens */
    flex-direction: column; /* Stack items vertically on smaller screens */
    text-align: center; /* Center-align text */
  }

  ul {
    flex-direction: column; /* Stack list items vertically */
    padding: 10px 0; /* Add some padding for readability */
  }

  li {
    padding: 10px 0;
  }
}
