@import url(https://fonts.googleapis.com/css?family=Montserrat);


.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFA500; 
  color: #FFFFFF;
  opacity: 0.8;
  height: 70px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
}

li {
  padding: 20px 20px;
}

.navbar li:hover {
  background-color: #FFD700;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .navbar {
    height: auto;
    flex-direction: column;
    text-align: center; 
  }

  ul {
    flex-direction: column; 
    
    padding: 10px 0; 
  }

  li {
    padding: 10px 0;
  }
}

.search-bar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  background-color: whitesmoke; 
  width: 200px; 
}

.search-input {
  padding: 10px;
  border: none;
  width: 100%; 
  font-size: 16px;
  background: transparent; 
}

.search-button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}


.search-input:focus {
  outline: none;
  border: 1px solid #007BFF;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin-right: 20px;

}
