.profile-wrapper{

  min-height: 100vh;
  position: relative;
}

.profile-tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.profile-tab {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
}

.profile-tab.active {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.profile-details {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.profile-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.profile-details p {
  font-size: 16px;
  margin: 10px 0;
}

.logout-button {
  background-color: #ff4500; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff5e2e; 
}

.edit-profile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.edit-profile h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.purchased-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.purchased-item-box {
  border: 1px solid #e1e1e1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  max-width: 300px;
  text-align: left;
}

.order-details {
  margin-bottom: 15px;
}

.purchased-item-details {
  padding: 10px 0;
}

.product-image img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.comment-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.comment-form {
  margin-top: 10px;
}

.mark-received-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.comment-form {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  min-height: 80px;
  margin-top: 5px;
}

.comment-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter-button.active {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}